h1(class="titulosH1")="Listado de Productos"
a(class="navlink" href="/")="Cargar un Producto"
if !productos.length
    p No tenemos productos para mostrar
else
    section(class="contenedorProductos row")
        each producto in productos
            article(class="col-2 cajaProductos")  Picada: #{producto.title} <br> <img src=#{producto.thumbnail} alt=""> <br> Precio: #{producto.price} 